# Ex -

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called

### Step 4.

In [22]:
data = {"x": 2**np.arange(5),
        "y": 3**np.arange(5),
        "z": np.array([45, 98, 24, 11, 64])}

index = ["a", "b", "c", "d", "e"]

df = pd.DataFrame(data=data, index=index)
df

    x   y   z
a   1   1  45
b   2   3  98
c   4   9  24
d   8  27  11
e  16  81  64


### Step 5.

In [23]:
df["a":"c"]

   x  y   z
a  1  1  45
b  2  3  98
c  4  9  24

### Step 6.

In [25]:
df["a":"c"]._is_view

True

### Step 7.

In [28]:
df[["x", "y"]]

    x   y
a   1   1
b   2   3
c   4   9
d   8  27
e  16  81

### Step 8.

In [29]:
df[["x", "y"]].to_numpy().base

array([[ 1,  2,  4,  8, 16],
       [ 1,  3,  9, 27, 81]], dtype=int32)

### Step 9.

In [30]:
mask = df["z"] < 50

In [31]:
mask

a     True
b    False
c     True
d     True
e    False
Name: z, dtype: bool

In [32]:
df

    x   y   z
a   1   1  45
b   2   3  98
c   4   9  24
d   8  27  11
e  16  81  64

In [38]:
df[mask].to_numpy().base is df.to_numpy()

False

In [44]:
df.loc[mask,'z']=0

In [45]:
df

    x   y   z
a   1   1   0
b   2   3  98
c   4   9   0
d   8  27   0
e  16  81  64

### Step 10.

### Step 11.

### Step 12.

### Step 13.

### Step 14.

### Step 15.

### Step 16.

### BONUS: Create your own question and answer it.